* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    color: white;
}

.logo {
    height: 150px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #808080;
}


.linija {
    border: none;
    height: 3px;
    background-color: #333;
    width: 100%;
}

.linija2 {
        border: none;
        height: 3px;
        background-color: #333;
        position: absolute;
        top:1925px;
        width: 100%;
}

footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top: 1979px;
    width: 100%;
    padding: 20px;
    height: 600px;
    background-color: #ffffff;
    color: white;
}

footer section.footer-middle {
    text-align: center;
    flex-grow: 1;            
    display: flex;
    flex-direction: column;
    align-items: center; 
}

footer section.footer-middle a {
    display: block;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin: 25px 0;
}

footer section.footer-middle a:hover {
    color: #808080;
}


footer aside.footer-right {
    display: flex;
    flex-direction: column;
}

footer aside.footer-right a {
    margin-bottom: 10px;
}

footer aside.footer-right img {
    height: 60px;
    width: auto;
    transition: transform 0.3s ease;
}

footer aside.footer-right img:hover {
    transform: scale(1.1);
}

.momir img {
    position: relative;
    width: 100%;
    display: inline-block;
    background-image: url("bomboclat.png");
    
}

.kai {
    position: absolute;
    bottom: 500px;
    color: white;
    left: 70px;
    font-size: 20px;
    font-family: sans-serif;
}

.grimace {
    position: absolute;
    bottom: 110px;
    color: white;
    left: 70px;
    font-size: 30px;
    font-family: sans-serif;
}

.grimace2 {
    position: absolute;
    bottom: 50px;
    color: white;
    left: 70px;
    font-size: 20px;
    font-family: sans-serif;
}

.duke {
    text-align: center;
    font-size: 20px;
}

.toilet img{
    position: relative;
    width: 100%;
    display: inline-block;
    background-image: url("yare.jpg");
}

.gyat {
    position: absolute;
    top: 1230px;
    left: 70px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.livvy {
    font-size: 30px;
}

.bomba {
    font-family: sans-serif;
    font-size: 20px;
    position: absolute; left: 50px;
}

