<style>
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.contactphoto{
    height: 500px;
    width: 100vw;
    background-image: url("https://ametekcdn.azureedge.net/mediafiles/project/oneweb/oneweb/ametek/get%20in%20touch/images/adobestock_309327405_en_1.jpg?revision:46f74343-8540-401d-87c2-589c43d1cd81");
}
.flex-v{
    display: flex;
    flex-direction: row;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>
header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  display: flex; /* Use flexbox instead of float */
  gap: 20px; /* Space between links */
}
