body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient( #ff0000, #790303,#2e0101);
    color: white;
    padding: 30px;
    text-align: center;
}
.logo img {
    height: 50px; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: black;
    
}


main {
    padding: 20px;
    background-color: #e8f7fa;
    border: 25px solid #2e0101;
    border-radius: 0px;
}
.about {
text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 99%;
}
