*{
    margin: 0;
    padding: 0;
    box-sizing: revert;
    text-decoration: none;
    font-family: 'Popins', sans-serif;
}
body{
    color: #ffffff;
    background: linear-gradient(to right,#000000, #2e0303, #d80202, #af0000, #130101, #000000);
    line-height: 20px;
}

p{
    color: rgb(128, 128, 128);
    margin-left: 10px;
}


/* header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 40px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}
.velikaslika{
    width:100px;
    height:100px;
    top: 80%;
}
.navbar a{
    font-size: 18px;
    color: #ffffff;
    font-weight:200;
    margin: 10 20px;
    transition: 0.3s;
}
.navbar a:hover{
    color: #ff0000;
}  
.home{
    width: 100%;
    height: 70vh;
    background: url("slikasredina.png") no-repeat;
    background-position: center;
    display: flex;
    align-items: bottom ;
    padding: 30px 8% 0;
}
.home-content h1{
    font-size: 80px;
    line-height: 1;
}

.home-content h1:nth-child(2){
    background: linear-gradient(#ffffff, #000000);
    -webkit-background-clip: text;
    color: transparent;
}

.home-content p{
    color: rgb(107, 107, 107);
    font-size: 16px;
    margin: 25px 0 30px;
}
.btnn{
    padding: 10px 28px;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
}
.container{
    max-width: 1800px;
    margin: auto;
}
.red{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
/* body */
.yt{
    position: absolute;
     left: 58%;
     top: 15%;

}

/* footer */

.footer{
    line-height: 25px;
    background-color: #000000;
    padding: 80px;
}

.footer-kol{
    width: 25%;
    padding: 0 15px;
}

.footer-kol h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-kol h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #24262b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-kol ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-kol ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-kol ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-kol .social-links a{
   
    height: 40px;
    width: 40px;
    margin: 10px 10px ;
    text-align: center;
    line-height: 10px;
    border-radius: 100%;
    top: 50%;
    color: #ffffff;

}
.map{
    position: absolute;
    left: 66%;
    top: 170%;
}
.nebitno{
    font-size: 20px;
    font-weight: 50;
    color: #000000;
    position: center;
    text-align: center;
    
    
}

